
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage.cshtml";
}
<table class="table table-striped">
    <tr>
        <td>測試</td>
        <td>000</td>
        <td>test</td>
        <td>123</td>
    </tr>
    <tr>
        <td>測試</td>
        <td>111</td>
        <td>test</td>
        <td>321</td>
    </tr>


</table>
@{Html.RenderPartial("_SysDatePartial");}
